/* ============================================= */
/* Colors */
/* ============================================= */


$color-lightteal: #51ddfc;
$color-mint: #58e1c1;
$color-green: #63cc82;
$color-grey: #777;
$color-nightwing: #7ee6fd;
$color-aquamarine: #80e8d1;
$color-greyteal: #4da2bb;
$color-lilypad: #88d9a0;
$color-ube: #927bc1;
$color-bubblegum: #deb2ee;
$color-salmon: #e4757a;
$color-blush: #ec9fa3;
$color-coral: #fd7856;
$color-lightcoral: #fd9f85;
$color-white: #fff;

$button-color: #fff;
$break-m: 768px;
